
@media (min-width: 991.98px) {
    .main-layout {
    padding-left: 240px; /* サイドバーを考慮 */
    }
}

/* グラフサイドバーの調整 */
@media (max-width: 700px) {
    .graph-sidebar-card {
    height: 600px !important;
    }
}

/* グラフサイドバーの調整 */
@media (max-width: 991.98px) {
    .graph-sidebar-card {
    height: 70vmin;
    }
}
@media (min-width: 991.98px) {
    .graph-sidebar-card {
        height: 90vmin;
    }
}

/* 軸設定タブのアクティブ時のリンク書式 */
.graph-nav-pills .nav-link.active, .graph-nav-pills .show > .nav-link {
    color: #049b43;
    font-weight: bold;
    border: transparent;
    background-color: transparent;
    border-bottom: 0.3rem solid #04ac4a;
    border-radius: 0.01rem;
    height: 86%;
}

/* 軸設定タブの非アクティブ時のリンク書式 */
.passiveContent {
    color: rgba(141, 139, 139, 0.7);
    font-weight: bold;
}

/* 軸設定タブ */
#axis-tab, #plot-tab, #save-tab {
    padding: 8px 0px;
    margin: 0px 10px
}

/* input要素のスピンボタン削除 (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input要素のスピンボタン削除 (FireFox, IE) */
input[type="number"] {
    -moz-appearance:textfield;
}

/* ボタンの書式 (通常時) */
.btn-custom,
.btn-custom.disabled, .btn-custom:disabled {
    color: #fff;
    background-color: #04ac4a;
    border-color: #04ac4a;
}

/* ボタンの書式(focusされた時の枠線の色) */
.btn-custom:focus, .btn-custom.focus,
.btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(2, 177, 75, 0.733)
}

/* ボタンの書式 (hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定)） */
.btn-custom:hover {
    color: #fff;
    background-color: #049b43;
    border-color: #049b43;
}

/* ボタンの書式 (active時の色（hover時と同等かさらに濃いor暗めの色を指定)） */
.btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
.show > .btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #03923e;
    border-color: #03923e;
}

/* サイドナビのaタグの書式無効化 */
.navbar-sub-contents a {
    color : inherit !important;
    text-decoration : none !important;
}

.main-bar-content {
    font-size: 0.9rem;
}

.sidebar-hr {
    margin: 6px 0px;
}

/* スイッチオフ時の円の背景色 */
.custom-switch .custom-control-label::after {
    background-color: #d8dfe7;
}

/* スイッチオフ時のボーダー色 */
.custom-control-label::before {
    border: #d8dfe7 solid 1px;
}

/* スイッチオン時(disabled)の背景色 */
.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #0d8b4256;
}

/* スイッチオン時の円の背景色 */
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #f8fafc;
}

/* スイッチオン時(active)の背景色 */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #03b34c;
    background-color: #03bd51;
}

/* スイッチオフ時(hover)のマウスポインター */
.custom-control-input:hover ~ .custom-control-label:hover {
    cursor: pointer;
}

/* スイッチオフ時(disable, hover)のマウスポインター */
.custom-control-input:disabled:hover ~ .custom-control-label:hover {
    cursor: default;
}

/* スイッチオフ時(disable, checked, hover)のマウスポインター */
.custom-control-input:checked:disabled:hover ~ .custom-control-label:hover {
    cursor: default;
}

/* スイッチオン時(active, hover)のマウスポインター */
.custom-control-input:checked:hover ~ .custom-control-label:hover {
    cursor: pointer;
}

/* スイッチオン時(disabled)のボーダーカラー */
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #04ac4a33;
}

/* スイッチオン時(disabled)のボーダーカラー */
.custom-switch .custom-control-input:disabled:checked:hover ~ .custom-control-label:hover {
    cursor: default;
}

/* ページネーションの色 */
.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #03bd51;
    border-radius: 75%;
}

/* サイドバーのボーダー削除 */
.list-group-item {
    border: none !important;
}

/* サイドバーの主項目ホバー時の装飾 */
.list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #dad6d656;
    border-radius: 5px !important;
}

/* サイドバーの主項目アクティブ時の装飾 */
.list-group-item.custom-active {
    background-color: #cac8c86c;
    border-radius: 5px !important;
    border: none !important;
}
